/* YourComponent.css */
.main-container4Y {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh; /* Adjust the height as needed */
	padding: 20px; /* Add padding to the main container */
  }
  
  .row4Y {
	display: flex;
	justify-content: space-around;
	/*max-width: 400px; /* Set your desired maximum width for each row */
	width: 100%; /* Ensure each row takes the full width */
	margin-top: 20px;
  }
  
  .square4Y {
	width: 200px; /* Adjust the width as needed */
	height: 200px; /* Adjust the height as needed */
	background-color: #3498db; /* Set your desired background color */
	border-radius: 8px; /* Optional: Add border-radius for rounded corners */
	box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); /* Initial glow effect */
	transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */
	margin-bottom: 20px; /* Add space between the squares */
  }
  
  .square4Y:hover {
	transform: scale(1.1); /* Increase size on hover */
	box-shadow: 0 0 20px rgba(52, 152, 219, 1); /* Glow effect on hover */
  }
  